/*add additional fallback fonts similar to Avenir LT Std*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

@import "tailwindcss";

@config "../tailwind.config.js";

@tailwind utilities;

/* define font type face for Avenir LT Std*/
@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd35Light300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd45Book400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd65Medium500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd85Heavy700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('/fonts/AvenirLTStd95Black900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}


@layer base {
	.btn-primary {
		@apply bg-primary text-white px-6 py-2 rounded-xl font-semibold hover:bg-primary/90 transition-all duration-200 cursor-pointer;
	}

    .active-nav {
        @apply !bg-primary/20 hover:bg-primary/20
    }

    .default-nav {
        @apply bg-transparent text-white/55 py-4 px-5 rounded-xl flex items-center gap-4 text-sm hover:bg-primary/20 cursor-pointer
    }
    
}

:root {
  font-family: 'Avenir LT Std', 'Nunito', 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #060D1F;
  color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide-scroll {
    scrollbar-width: none;
}
